body {
    font-family: Verdana, sans-serif;
    background-color: purple;
}

.features {
    width: 60%;
    margin: 50px auto;
}

.features h2 {
    text-align: center;
    color: #333;
}

.features ul {
    list-style-type: square;
    padding: 0;
    color:aquamarine;
}

.features ul li {
    background-color: #de9ee2;
    margin: 15px 0;
    padding: 15px;
    border-left: 5px solid #0077b6;
    border-radius: 6px;
    transition: 0.3s;
}

.features ul li:hover {
    background-color: #e9f5ff;
    transform: translateX(5px);
}
