body {
    font-family: Arial;
    margin: 0;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 20px;
    text-align: center;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background: #f4f4f4;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    min-width: 250px;
}

.card button {
    background-color: #0077b6;
    color: white;
    border: none;
    align-self: center;
    padding: 8px 15px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .card {
        width: 80%;
    }
}
