
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a0dad; /* Violet background */
    font-family: Arial, sans-serif;
}


.card {
    width: 320px;
    height: 500px; /* Vertical rectangle */
    background-color: #000000;
    color: white;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 8px 8px 25px rgba(128, 128, 128, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.content h1 {
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.content h3 {
    color: #cccccc;
    font-weight: 500;
    margin-bottom: 15px;
}

.intro {
    font-size: 13px;
    line-height: 1.5;
    color: #bbbbbb;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 10px;
    color: #d3d3d3;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.services {
    list-style-type: square;
    padding-left: 18px;
    align-items: center;
}

.services li {
    margin-bottom: 8px;
    font-size: 13px;
    color: #e0e0e0;
    align-items: center;
}


.contact-btn {
    padding: 12px;
    border: none;
    background-color: #6a0dad;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;

    transition: transform 0.3s ease, background-color 0.3s ease;
}


.contact-btn:hover {
    background-color: #8e44ad;
    transform: scale(1.08);  
}

